body {
	background-color: white;
}

table {
	height: 600px;
	width: 600px;
	border-collapse: collapse;
}
th {
	height: 200px;
	width: 200px;
}

.red {
	background-color: #850000;
	height: 200px;
	width: 200px;
}
img {
	height: 200px;
	width: 200px;
}